@page "/"

<PageTitle>Blazor-Skolan</PageTitle>

<h1>Blazor-Skolan</h1>
<br />
<h4> Välkommen Till BlazorSkolan </h4>
<br />
<p>
    Här får du lära dig lite av grunderna hur man använder Blazor. Men för att komma vidare behöver du förstansäka till skolan.<br />
    Det gör du lättast via ansök som finns till vänster eller använder dig av ansöksknappen längre ner på sidan.
</p>
<p> 
    Hoppas du hittar det du söker :)
</p>
<br />
<p>
    Teamet på Blazor-Skolan
</p>
<br />

<a href="students/create" class="btn btn-primary">Ansök</a>



